#comm-cont{
	background-color: #fff;
	padding: 10px;
	overflow: hidden;
}

.comm-cover-img{
	width: 100%;
	height: 200px;
}

.comm-img{
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    border-radius: 55px;
    position: absolute;
    /* overflow: hidden; */
    top: 260px;
    /* left: 300px; */
    margin-left: 10px;
}

.comm-outer-cont{
	margin-top: 60px;
    margin-left: 30px;
    overflow: hidden;
}

.comm-left-cont{
	width: 50%;
	float: left;
}

.comm-name, .comm-email, .comm-phNo{
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: none;
    color: #828282;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    pointer-events: none;
    -webkit-transition: border-color .75s ease;
    transition: border-color .75s ease;
}

.comm-address{
    resize: none;
    float: left;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    color: #828282;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    pointer-events: none;
    -webkit-transition: border-color 800ms ease;
    transition: border-color 800ms ease;
}

.comm-new .comm-create, .edit-active .comm-update{
	display: block;
}

.comm-new .comm-outer-cont{
	margin: 0px;
}

.comm-new .comm-left-cont{
	float: none;
	margin: auto;
}

.comm-new input[type="text"], .edit-active input[type="text"]{
	pointer-events: fill;
	border-bottom: 2px solid #828282;
}

.comm-new .comm-address, .edit-active .comm-address{
	border: 2px solid #B2B2B2;
	pointer-events: fill;
}

.comm-new .comm-right-cont{
	display: none;
}

.comm-create, .comm-update{
	display: none;
	width: 35%;
    margin: 0px auto;
    clear: both;
    padding: 15px;
    background-color: #03A9F4;
    color: #fff;
    text-align: center;
}

.comm-edit-btn{
	display: none;
	width: 30px;
    height: 30px;
    background-image: url(../img/edit_icon.png);
    background-size: 30px 30px;
    float: right;
}

.comm-right-cont{
	width: 30%;
    float: right;
    color: #828282;
}

.comm-like-btn{
	margin: 0px 10px;
    background-image: url(../img/heart-sprite.png);
    width: 30px;
    height: 30px;
    background-size: 85px 50px;
    background-position: -8px -9px;
    float: left;
}

.comm-liked .comm-like-btn{
	background-position: -45px -9px;
    pointer-events: none !important;
}

.comm-connect-btn, .comm-disconnect-btn{
	display: none;
	line-height: 40px;
    background-color: #03A9F4;
    color: #fff;
    text-align: center;
    width: 100px;
    float: left;
}

.comm-like-cont{
	clear: both;
}

.comm-like-count, .comm-member-count{
	font-size: 50px;
}

#comm-upload-cover-img{
	display: none;
	position: relative;
    top: -35px;
    left: 85%;
    width: 50px;
    height: 50px;
}

#comm-upload-img{
	display: none;
	position: relative;
    top: -10px;
    left: 80px;
    width: 30px;
    height: 30px;
}

.comm-owned #comm-upload-cover-img, .comm-owned #comm-upload-img, .comm-new #comm-upload-cover-img, .comm-new #comm-upload-img, .comm-non-member .comm-connect-btn, .comm-member .comm-disconnect-btn, .comm-owned .comm-edit-btn{
	display: block;
}

.comm-add-img-icon{
	width: 100%;
    height: 100%;
    background-image: url(../img/editProfile_pic.png);
    background-size: 30px 30px;
    border-radius: 40px;
    border: 1px solid #616161;
}

#comm-upload-cover-img .comm-add-img-icon{
    background-size: 50px;
}

#comm-upload-img .comm-add-img-icon{
    background-size: 30px;
}

#comm-upload-cover-img-input, #comm-upload-img-input{
	width: 100%;
    height: 100%;
    opacity: 0;
    margin-top: -30px;
}

#comm-upload-cover-img-input
{
	margin-top: -50px;
}

.connUs-feed-wrapper
{
	margin-top: 10px;
}