body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px;
  background-color: #f1f1f1;
}

 .connUs-header-cont{
    width: 96%;
    z-index: 999;
    top: 0px;
    position: fixed;
    background-color: #52bdff;
    padding: 10px 2%;
}

.connUs-header-label{
	font-size: 25px;
    color: #fff;
    float: left;
    font-family: Lily Script One;
}

.connUs-header-chat-icon{
	background-image: url("../img/new/chat.png");
    width: 30px;
    height: 30px;
    float: right;
    background-size: 30px;
    margin-right: 20px;
    margin-top: 7px;
}

.connUs-settings-icon{
	background-image: url("../img/new/settings.png");
    width: 30px;
    height: 30px;
    float: right;
    background-size: 30px;
    margin-top: 5px;
}

.connUs-search-cont{
	z-index: 99;
	float: left;
    margin-top: 6px;
    margin-left: 10%;
    width: 350px;
    overflow: hidden;
    border-bottom: 2px solid #fff;
}

.connUs-search-icon{
    background-image: url("../img/new/search.png");
    width: 25px;
    height: 25px;
    float: left;
    background-size: 25px;
    margin-top: -2px;
}

.connUs-search-txt::placeholder{
	color: #fff;
}

.connUs-search-txt{
    outline: none;
    background: none;
    border: none;
    width: 82%;
	color: #fff;
	margin-left: 10px;
	margin-bottom: 4px;
	font-size: 17px;
}

.search-close-icon{
	visibility: hidden;
	opacity: 0;
	float: right;
	background-image: url("../img/new/close.png");
    width: 25px;
    height: 25px;
    background-size: 25px;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
}

.connUs-searchDropBoxActive .search-close-icon{
	visibility: visible;
	opacity: 1;
}

#connUs-page-wrapper{
    width: 50%;
    margin: 80px auto;
}

.connUs-header-chatCount-cont{
    display: none;
    background-color: #ffe500;
    padding: 5px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    font-size: 12px;
    color: #616161;
    position: absolute;
    right: 60px;
    text-align: center;
}

.showCount{
	display: block;
}

@media screen and (max-width: 767px) and (orientation : portrait) 
{
	.connUs-header-chatCount-cont{
		right: 33px;
	}
}

@media screen and (max-width: 767px)
{
	.menu-icon{
		background-image: url(../img/new/menu.png);
	    width: 28px;
	    height: 28px;
	    float: left;
	    background-size: 28px;
	    margin-top: 2px;
	}
	
	.connUs-header-label{
 		margin-top: 1px;
    	margin-left: 20px;
	}
	
	.connUs-search-cont{
		width: 0px;
		height: 0px
	}
	
	.mobile-search-active{
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    background-color: #fff;
	    overflow: visible;
	    top: 0px;
	    left: 0px;
	    margin: 0px;
	    right: 0px;
	    bottom: 0px;
	}
	
	.mobile-search-active .connUs-search-icon{
		display: none;
	}
	
	.connUs-mobile-search-back-icon{
		background-image: url(../img/new/back-button.png);
	    width: 30px;
	    height: 30px;
	    float: left;
	    background-size: 30px;
	    margin: 14px;
	}
	
	.connUs-search-txt{
		color: #828282;
    	margin: 20px 0px;
    	width: 67%;
	}
	
	.connUs-search-txt::placeholder{
		color: #828282;
	}
	
	.search-close-icon{
		background-image: url(../img/new/close-yellow.png);
		margin: 16px 10px;
	}
	
	.connUs-mobile-search-icon{
		background-image: url("../img/new/search.png");
	    width: 25px;
	    height: 25px;
	    float: right;
	    background-size: 25px;
	    margin-top: 7px;
	    margin-right: 20px;
	}

	#connUs-page-wrapper
    {
        overflow: hidden;
        width: 90% !important;
        margin: 100px auto !important;
    }
}