@media screen and (max-width: 767px)
{
	.connUs-imgSliderDesc
	{
		width: 98% !important;
    	margin: 0px 1% !important;
	}
}
.connUs-ptos-OuterCont{
	width: 447px;
    height: 500px;
    margin-left: 148px;
    margin-top: 40px;
    background-color: whitesmoke;
}

#connUs-addPtos-uploadCont{
	display: none;
	padding: 20px 0px;
    width: 50px;
    height: 50px;
}

.connUs-myProfile #connUs-addPtos-uploadCont{
	display: block;
}

.connUs-addPtosIcon{
	width: 100%;
    height: 100%;
    background-image: url("../img/editProfile_pic.png");
    background-size: 50px;
    border: 1px solid #616161;
}

#connUs-addPtos-upload{
	opacity: 0;
	position: relative;
    top: -50px;
    width: 100%;
    height: 100%;
}

.connUs-addPtos-imgCont{
	display: none;
	margin: 15px;
}

.active{
	display: block;
}

.connUs-addPtos-imgDisplay{
	width: 100%;
    height: auto;
}

.connUs-addPtos-desc{
	width: 195px;
	margin-top: 15px;
}

.connUs-addPtos-btn{
	margin: 15px;
    width: 100px;
    text-align: center;
    line-height: 3;
    background-color: #1ab188;
    color: #fff;
    font-size: 14px;
}

.photos-active .connUs-ptos-wrapper{
	display: block;
}

.connUs-ptos-wrapper{
	display: none;
	overflow: hidden;
	padding: 10px;
    background-color: #fff;
}

.connUs-viewPtos-innerCont, .connUs-viewPtos-Img{
	float: left;
	width: 150px;
    height: 150px;
}

.connUs-ptosList-wrapper{
	overflow: hidden;
}

.connUs-imgSliderDesc{
	display: none;
}

.connUs-galleryPtos-likeBtn{
    width: 50px;
    line-height: 2;
    background-color: #FF4C07;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
}

.connUs-galleryPtos-viewMoreLikesBtn, .connUs-galleryPtos-viewMoreCmntsBtn{
    width: 120px;
    line-height: 2;
    float: left;
    font-size: 12px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
}

.connUs-galleryPtos-viewMoreLikesBtn{
    border: 1px solid #C1C1C1;
}

.connUs-galleryPtos-viewMoreCmntsBtn{
    border: 1px solid #1ab188;
}

.connUs-galleryPtos-cmntsTxt{
    float: left;
    width: 70%;
}

.connUs-galleryPtos-addCmntsBn{
    float: left;
    width: 25%;
    line-height: 2;
    background-color: #FF4C07;
    text-align: center;
    font-size: 12px;
}

.ug-lightbox-top-panel .connUs-imgSliderDesc{
	width: 70%;
    position: absolute;
    display: block;
	color: #828282;
	background-color: #fff;
	margin: 0% 15%;
	font-size: 12px;
}

.connUs-ptosGiveLike{
	margin-left: 10px;
	margin-top: 8px;
	background-image: url("../img/heart-sprite.png");
    width: 20px;
    height: 20px;
    background-size: 60px 31px;
    background-position: -6px -4px;
    float: left;
}

#connUs-ptosLiked{
	background-position: -32px -5px;
    pointer-events: none !important;
}

.connUs-ptosMoreLikesAndCmnts-cont{
	float: left;
    width: 85%;
    margin-top: 8px;
    margin-left: 10px;
}

.connUs-ptosMoreLikesAndCmnts-cont div{
	float: left;
    width: 49%;
    font-size: 13px;
    text-align: center;
    line-height: 2;
}

.connUs-ptosGiveCmnts-cont{
	 margin: 3%;
    overflow: hidden;
    clear: both;
}

.connUs-ptosCmntsTxt{
	padding: 5px 10px;
    color: #828282;
    border: none;
    border-bottom: 2px solid #828282;
    -webkit-transition: border-color .75s ease;
    transition: border-color .75s ease;
    outline: none;
    float: left;
    width: 67%;
}

.connUs-ptosAddcomnts-btn{
	float: left;
    width: 25%;
    line-height: 2;
    background-color: #FF4C07;
    text-align: center;
    font-size: 12px;
}

.connUs-ptosLikeOrCmnts-wrapper{
	z-index: 99999999;
    background-color: #fff;
    width: 250px;
    height: 0px;
    opacity: 0;
    position: fixed;
    -webkit-transition: all .90s ease;
    transition: all .90s ease;
}

.connUs-popUpActive .connUs-ptosLikeOrCmnts-wrapper{
	height: auto;
	opacity: 1;
}

.connUs-popUpActive .connUs-ptosLikeOrCmnts-wrapper{
	opacity: 1;
}
	
.connUs-popUpMask{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #000;
    opacity: .5;
}
