@media screen and (max-width: 767px) and (orientation : landscape) 
{
	.connUs-chatBox-outerWrapper
	{
		height: 87% !important;
	}
	.connUs-chatBox-wrapper
	{
		height: 83% !important;
	}
	.emoji-menu
	{
    	top: 50px;
    	left: 17px;
	}
}
@media screen and (max-width: 767px)
{
	.connUs-chatNotification-wrapper
	{
		height: 100%;
		width: 100% !important;
    	left: 0px !important;
	}
	.connUs-chatBox-outerWrapper
	{
		width: 100% !important;
    	right: 0px !important;
	}
	.connUs-chatBox-outerWrapper
	{
		height: 93%;
	}
	.connUs-chatBox-wrapper
	{
		height: 90%;
	}
	.connUs-chatBox-wrapper, .connUs-chatsListMgs-inner-wrapper
	{
		height: 100% !important;
	}
}

.connUs-header-chat-cont{
    width: 40px;
    top: 16px;
    right: 15px;
    position: absolute;
    text-align: center;
    line-height: 2;
    background-color: #1ab188;
    border-radius: 20px;
}

.connUs-header-chatLabel{
    font-size: 14px;
    color: #fff;
    float: left;
    line-height: 2.5em;
    margin-left: 75px;
    border: 1px solid;
    width: 15px;
    text-align: center;
}

.connUs-header-chatCount-cont{
    display: none;
    background-color: #FFC107;
    padding: 5px;
    width: 10px;
    float: left;
    border-radius: 10px;
    font-size: 10px;
    color: #616161;
    text-align: center;
}

.showCount{
	display: block;
}

.connUs-chatNotification-wrapper{
	width: 250px;
	overflow: hidden;
    position: fixed;
    top: 51px;
    left: 101px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    display: none;
}

.connUs-chatDropBoxActive .connUs-chatNotification-wrapper, .connUs-chatBoxActive .connUs-chatBox-outerWrapper, .chat-map-active #map-cont{
	display: block;
}

.connUs-chatNotification-wrapper .connUs-chatsList-head, .chat-map-active .connUs-chatsListMgs-inner-wrapper, #map-cont{
	display: none;
}

.chat-map-active .connUs-smiley, .chat-map-active .connUs-chatsListMgs-input{
    pointer-events: none;
    opacity: 0.4;
}

.connUs-chatNotification-wrapper .connUs-chatsList-img{
	width: 50px;
    height: 50px;
    background-size: 50px;
    margin: 5px;
    padding-bottom: 5px;
}

.connUs-chatNotification-wrapper .connUs-chatData-cont{
	overflow: hidden;
	height: 45px;
	margin-top: 15px;
	border-bottom: 0.5px solid #e4e4e4;
}

.connUs-chatBox-outerWrapper{
	display: none;
	width: 320px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    right: 23px;
    z-index: 99;
    border: 1px solid #2196F3;
    background-color: #fff;
}

.connUs-chatBox-head-cont{
    padding: 5px;
	background-color: #2196F3;
    overflow: hidden;	
}

.connUs-chatBox-head{
    font-size: 15px;
    margin-top: 6px;
    color: #fff;
    float: left;
}

.connUs-chatBox-location{
	width: 30px;
    height: 30px;
    background-image: url(/WEB-INF/img/location.jpg);
    background-size: 30px;
    float: right;
}

.connUs-chatsList-head{
	line-height: 3;
    color: #FF4C07;
    margin-left: 15px;
}

.connUs-chatsList-inner-wrapper{
    overflow-y: auto;
}

.connUs-chatsList-inner-cont{
	overflow: hidden;
    background-color: #fff;
	margin: 5px;
	font-size: 15px;
    color: #000;
}

.connUs-chatsList-name{
	color: #009688;
	float: left;
}

.connUs-chatsList-dateAndTime{
	font-size: 10px;
    color: #868686;
    float: right;
}

.connUs-chatsList-lastMgs{
    color: #868686;
    width: 100px;
    margin: 5px 0px;
    clear: both;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.connUs-chats-wrapper, .connUs-friends-wrapper{
	float: left;
    width: 72%;
    margin-left: 30px;
    margin-top: -150px;
    background-color: #EDEDED;
    border-radius: 5px;
}

.connUs-chatsListMgs-wrapper{
	width: 65%;
    height: 90%;
    padding-left: 10px;
    float: left;
}

.connUs-msg{
    margin-top: 17px;
}

.connUs-chats-submit{
    width: 130px;
    height: 37px;
    background-color: #FF4C07;
    margin-top: 8px;
    margin-left: 137px;
}

.connUs-chats-list{
    margin-top: -120px;
    float: left;
    width: 70%;
    background-color: #FFFFFF;
}

.connUs-chats-all-cont{
    overflow: hidden;
    height: 400px;
    overflow-y: scroll;
}

.connUs-chatsList-img{
	width: 60px;
    height: 60px;
    background-image: url("/WEB-INF/img/photo.jpg");
    background-size: 65px 64px;
    border-radius: 55px;
    float: left;
    margin: 5px;
}

.connUs-chatsListMgs-inner-cont {
    clear: both;
    float: left;
    max-width: 200px;
    background-color: #e0e0e0;
    margin: 7px 0px 0px 7px;
    line-height: 2;
    color: #000;
    border-radius: 3px;
    padding: 4px;
}

.connUs-chatsListMgs-msg{
    line-height: 1.2;
    float: left;
}

.connUs-chatsListMgs-sender{
	float: right;
    margin: 7px 7px 0px 0px;
    background-color: #2196F3;
    color: #fff;
}

.connUs-chatsListMgs-time{
	font-size: 12px;
    float: right;
    margin-left: 10px;
}

.chat-close{
	height: 0px !important;
}

.connUs-chatBox-wrapper{
	height: 330px;
	font-size: 17px;
	background-color: #fff;
	overflow: hidden;
	-webkit-transition: height 800ms ease;
	transition: height 800ms ease;
}

.connUs-chatsListMgs-inner-wrapper{
	height: 260px;
	margin: 10px 0px;
	overflow-y: scroll;
}

.connUs-chatsListMgs-input-cont{
	padding: 10px 5px;
	overflow: hidden;
	border-top: 1px solid #616161;
}

.connUs-chatsListMgs-input{
	float: left;
	overflow-y: scroll;
	max-height: 50px;
    width: 80%;
    border: 1px solid #828282;
    border-radius: 3px;
    color: #828282;
    border: none;
    border-bottom: 2px solid #828282;
    outline: none;
}

.connUs-chatsListMgs-submit{
    width: 30px;
    height: 30px;
    float: left;
    background-color: #03A9F4;
    text-align: center;
    color: #fff;
    font-size: 30px;
    border-radius: 16px;}

.connUs-chats-sender{
    float: right;
    margin-right: 6px;
    background-color: #FF4C07;
    color: #fff;
}

.connUs-chats-input-cont{
    clear: both;
}

.connUs-chatListMsg-DateHead{
	text-align: center;
    line-height: 2;
    color: #616161;
    clear: both;
}

.connUs-Mask{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    z-index: 999;
}

.connUs-noChat{
	height: 200px;
    text-align: center;
    color: #828282;
    font-size: 15px;
    padding-top: 10px;
}

.connUs-emptyMsg{
	text-align: center;
    color: #828282;
    font-size: 15px;
    padding-top: 10px;
}

.connUs-smiley{
	width: 25px;
    height: 25px;
    float: left;
    margin-top: 4px;
    background-image: url(//localhost/chatClient/img/smiley.jpg);
    background-size: 19px 18px;
    background-repeat: no-repeat;
}

.connUs-maps-cont{
	margin: 10px;
}

#map-cont{
    height: 83%;
    margin: 5px;
}

.chat-map{
	height: 200px;
}

.connBx-alert-cont{
    width: 250px;
    height: 80px;
    position: absolute;
    margin: auto;
    top: 46%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin: auto;
    background-color: #fff;
}

.connBx-alert-close{
	float: right;
    font-size: 20px;
    margin-right: 10px;
    color: #828282;
}

.connBx-alert-msg{
    width: 80%;
    clear: both;
    margin: 10px auto;
}

.connUs-chatBox-online{
	width: 15px;
    height: 15px;
    float: left;
    background-color: #07f510;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 20px;
}